:host {
  display: block;
  align-items: center;
  height: 100%;

  .category-filter {
    display: flex;
    align-items: center;

    &__list-item {
      margin-left: 20px;
    }

    &__button {
      padding: 15px 10px 16px;
    }

    .active:after {
      // TODO: green underline styles
      background-color: green;
    }
  }
}
